.App {

   padding: 20px 30px;
}

/* adding css for  images */

.imag{
    width: 320px;
    height: 190px;
    border: 2px solid black;
    border-radius: 6px;
    
}
.col
{
  display: flex;
  flex-direction: column;
  min-width:fit-content;
  max-width:1000px;
  margin:auto;
}
.start{
    align-self: flex-start;
   
}
.center{
    align-self: center;
}

.end{
    align-self: flex-end;
}